html {
	scroll-behavior: smooth;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

#Section1 {
	background-color: black;
	color: white;
}

#Section2 {
	background-color: black;
	color: white;
}

/*.vertical { 
    border-left: 2px solid white; 
    background-color: black;
    height: 100vh; 
    position:absolute; 
    left: 50%; 
        } */


a {
	color: #A6A6A6;
}


a:hover {
	color: white;
	text-decoration: none;
}

section {
	height: 100vh;
}

/*TEST*/


/*mobile style*/
@media only screen and (max-width:400px){
section {
}
}

/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px){
section {
}
}

/*desktop style*/
@media only screen and (min-width: 961px) {
section {
}
}

