* {
	background-color: black;
}
header {
  color: white;
  font-family: 'Bebas Neue';
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#rowpad {
	padding: 0 2rem 0 2rem;
	margin: 3rem 2rem 0 2rem;
}

.recruiterimg {
	padding: 0 0 0 0;
}

a {
	color: #A6A6A6;
}


a:hover {
	color: white;
	text-decoration: none;
}

p {
	padding-top: 1rem;
}

    img
    {
      border: 0.25rem solid #484848;
    }
    img:hover
    {
    border: 0.25rem solid #FFFFFF;
    }