* {
	background-color: black;
	color: white;
}
header {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	/*margin-bottom: 0;*/
}

a {
	color: white;
	text-decoration-color: white;
}

a:link {
	color: black;
	text-decoration-color: black;
}

a:hover {
	background-color: white;
	color: black;
	text-decoration-color: black;
}